body {
    margin:0px;
    padding:0px;
}
.row1{
   color:brown;
   text-align:center;
   background-color:aquamarine;
   height:40px;
   width:auto;
   font-size:20px;

}
.row2 {
    color: brown;
    background-color:burlywood;
    font-size: 20px;
    text-align:right;
}